@{
    ViewData["Title"] = "About Page";
}

<div class ="wrapper">
    
    <div class="box">
        <img src="~/css/karl1.jpg" class="image"/>
        <p class="textid">About me</p>
        <p class="textid">My name is Karl Barce</p>
        <p class="textid">Age: 20 years old<p>
        <p class="textid">Hobbies:Gaming, Basketball, <br /> and Football<p>
        <p class="textid">Address:Bulacan<p>
    </div>
</div>
